@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-grayf4 text-grayPrimary dark:text-white dark:bg-grayDarkest antialiased;
  }
  .wrapper {
    max-width: 1440px;
    @apply mx-auto;
  }
  textarea,
  input {
    @apply bg-transparent outline-none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .Toastify__toast-container {
    width: fit-content;
    font-size: 14px;
  }
  .Toastify__toast {
    @apply text-gray-700;
  }
}
