@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    max-width: 1440px;
    @apply mx-auto bg-grayf4 text-grayPrimary;
  }
  input {
    @apply bg-transparent outline-none border-none;
  }
}
@layer components {
  .gradient {
    background-image: linear-gradient(to right, #926aff, #ff69cf);
    transition: 0.5s;
  }
  .text-gradient {
    background-image: linear-gradient(to right, #926aff, #ff69cf);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .gradient:hover {
    opacity: 0.75;
  }
}
