@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#EEEFF1] text-grayPrimary dark:text-white dark:bg-grayDarkest antialiased;
  }
  .wrapper {
    max-width: 1440px;
    @apply mx-auto pb-16 lg:pb-10;
  }
  textarea,
  input {
    @apply bg-transparent outline-none;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  svg {
    @apply max-w-full;
  }
}
@layer components {
  .focus-primary:focus {
    box-shadow: 0 0 0 3px rgb(44, 143, 255, 0.25);
  }
  .primary-button:hover {
    box-shadow: 0 0 0 3px rgb(44, 143, 255, 0.25);
  }
  .avatar-shadow1 {
    @apply border border-primary;
    box-shadow: 0 0 0 3px rgb(44, 143, 255, 0.25);
  }
  .avatar-shadow2 {
    @apply border border-secondary;
    box-shadow: 0 0 0 3px rgb(250, 149, 117, 0.25);
  }
  .gradientPrimary {
    transition: all 0.2s linear;
    @apply bg-primary;
  }
  .gradientPrimaryHover:hover {
    @apply bg-opacity-90;
    background-size: 100% 100%;
  }
  .table-responsive {
    @media screen and (max-width: 767.98px) {
      th:not(:first-child),
      td:not(:first-child) {
        padding-left: 75px;
      }
    }
  }
}
@layer utilities {
  .bgDarkMode {
    @apply bg-white dark:bg-grayDarker #{!important};
  }
  .bgDarkestMode {
    @apply bg-gray-100 dark:bg-grayDarkest #{!important};
  }
}
.Toastify__toast-container {
  width: fit-content;
  font-size: 14px;
}
.Toastify__toast {
  @apply text-gray-700;
}
div .tox .tox-edit-area::before {
  border: none;
}
.swal2-container {
  .swal2-popup {
    @apply rounded-xl p-8;
    max-width: 400px;
  }
  .swal2-popup .swal2-title {
    @apply text-xl font-bold text-grayDarkest;
  }
  .swal2-popup .swal2-styled.swal2-confirm {
    all: unset;
    box-sizing: border-box;
    @apply text-white bg-primary font-semibold rounded-lg px-4 py-2 h-12 w-28 flex items-center justify-center text-center text-sm cursor-pointer hover:bg-opacity-90;
  }
  .swal2-popup .swal2-styled.swal2-cancel {
    all: unset;
    box-sizing: border-box;
    @apply bg-transparent text-grayDarkest hover:bg-none hover:bg-transparent h-10 w-28 text-sm font-semibold px-4 py-2 cursor-pointer text-center hover:text-opacity-55;
  }
  .swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    @apply bg-none;
  }
}
.skeleton {
  position: relative;
  overflow: hidden;
  @apply bg-gray-200 dark:bg-grayDarker;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 5s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}
